<!-- stock scaffold view -->

<%= form_for(@company, :html => {:class => "nice", :multipart => true}) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %><br /><br />
  </div>

    <%= f.submit 'Create', :class => "nice small radius blue button" %>
		<%= link_to 'Back', :back, :class => "nice small radius blue button" %>
		
  </div>
<% end %>
